In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.format("csv") \
  .option("inferSchema", True) \
  .option("header", True) \
  .load("/FileStore/tables/rbh.csv")

In [ ]:
# File location and type
file_location = "/FileStore/tables/rbh.csv"
file_type = "csv"

# CSV options
infer_schema = "True"
first_row_is_header = "True"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format("csv") \
  .option("inferSchema", True) \
  .option("header", True) \
  .load("/FileStore/tables/rbh.csv")


display(df.show())

In [ ]:
import requests
import pandas as pd

In [31]:
x_income = x.json()
df_inc = pd.DataFrame(x_income)
df_inc_1 = df_inc[["symbol","date","ebitda" , "depreciationAndAmortization", "netIncome" ]]

In [ ]:
indx = ["EBITDA","D&A","MarketCap","NetIncome","CashFlowOps","Capex","CurrAsset",
        "CurrLiab","PPE","BookValue","TotDebt","DivYield"]

In [ ]:
y_quote = y.json()
df1 = pd.DataFrame(y_quote)
df1

In [32]:
z_cf = z.json()
df_cf = pd.DataFrame(z_cf)
df2_cf_1 = df_cf[["symbol","date","netCashProvidedByOperatingActivities", "capitalExpenditure"]]

In [34]:
a_bal = a.json()
df_bal = pd.DataFrame(a_bal)
df_bal_1 = df_bal[["symbol","date","totalDebt","totalCurrentAssets", "propertyPlantEquipmentNet", "totalCurrentLiabilities", "longTermDebt", "totalStockholdersEquity","cashAndShortTermInvestments"]].copy()

In [33]:
f_df = pd.DataFrame()
f_df["EBIT"] = df_inc_1["ebitda"] - df_inc_1["depreciationAndAmortization"]
f_df["_EV"] = df_bal_1["totalDebt"].fillna(0) - df_bal_1["cashAndShortTermInvestments"]

            EBIT
0   6.931300e+10
1   7.464300e+10
2   6.641200e+10
3   6.282800e+10
4   7.324800e+10
5   5.386700e+10
6   5.029100e+10
7   5.685100e+10
8   3.472400e+10
9   1.885100e+10
10  1.247300e+10
11  7.548000e+09
12  5.655000e+09
13  3.212000e+09
14  1.998000e+09
15  4.490000e+08
16  1.850000e+08
17  1.520000e+08
18  2.370000e+08
19  1.648000e+09
20  1.003000e+09
21  4.070000e+08
22 -1.034000e+09
23 -1.295000e+09
24  7.260000e+08
25  5.040000e+08
26  1.980000e+08
27  9.180000e+08
28  5.000000e+08
29  7.790000e+08
30  7.440000e+08
31  6.560000e+08
32  4.100000e+08
33  3.100000e+08
34  1.200000e+08
35  1.090000e+08
36  1.460000e+08